# 忽略所有常见视频文件（无论路径）
*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.webm

# 忽略任意位置下名为 backup 的文件夹及其内容
**/backup/
**/backup/**

# 忽略任意位置下名为 geo 的文件夹及其内容
**/geo/
**/geo/**

# 忽略任意位置下名为 Render 的文件夹及其内容
**/Render/
**/Render/**
